<header class="navbar navbar-fixed-top">
  <div class="container-fuild">
    <%= link_to "UnknownMusic", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "曲検索",   '#' %></li>
        <li><%= link_to "新規登録",   '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>